version: "3.9"

services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: peacockDb
    ports:
      - "3306:3306"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  springboot-app:
    image: your-springboot-image:latest
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - redis
